.copyRightSection {
    margin-top: 20px;

    .bgGrayColor {
        background: #F3F3F3;
        border-radius: 20px;
        padding: 30px;

        .copyItem {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: -0.167059px;
                color: #393939;
                margin-bottom: 0px;
            }
        }
    }

}