.getquoteSection {
    .bgGrayColor {
        background: #F3F3F3;
        border-radius: 30px;
        padding: 45px 45px 0px 45px;

        h3 {
            margin-bottom: 0px;
        }

        h2 {
            font-size: 40px;
        }

        p {
            line-height: 35px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 25px;
            padding: 40px 40px 0px 40px;
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 35px 35px 0px 35px;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 30px 30px 0px 30px;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 25px 25px 0px 25px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 20px 20px 0px 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 20px 20px 0px 20px;
            max-width: 96%;
            margin: auto;

            img {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .getquoteSection {
        .bgGrayColor {
            border-radius: 20px;
            padding: 20px 20px 0px 20px;
            max-width: 96%;
            margin: auto;

            img {
                margin-bottom: 30px;
            }
        }
    }
}