.serviceSection {
    .servicesContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        .servicesItem {
            flex: 0 0 calc(33.33% - 10px);
            position: relative;
            margin-bottom: 20px;
            background: #FFFFFF;
            border-radius: 26px;

            .servicesImage {
                transition: flex 0.5s ease, transform 0.5s ease;
                height: 350px;
                width: 100%;
                position: relative;
                border-radius: 26px;
                overflow: hidden;
                padding: 40px 30px;
                background: #F9F9F9;

                .title {
                    position: relative;
                    z-index: 2;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.165px;
                    color: #000000;
                    margin-bottom: 10px;
                }

                p {
                    opacity: 1;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }

                .readMore {
                    padding: 0px 20px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #000000;
                    border-radius: 100px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: -0.165px;
                    cursor: pointer;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;

                    a {
                        color: #000000;
                    }
                }

                &:hover {
                    background: #FF7F3E;
                    transition: flex 0.5s ease, transform 0.5s ease;

                    .title,
                    p {
                        color: #fff;
                    }

                    .readMore {
                        z-index: 2;
                        background: #fff;
                        border-color: #fff;

                        &:hover {
                            color: #FF7F3E;
                        }
                    }
                }
            }
        }

        &.serviceOffer {
            .servicesItem {
                flex: 0 0 calc(50% - 10px);
            }
        }


        &.landingService {
            .servicesItem {
                flex: 0 0 calc(25% - 10px);
                position: relative;
                transition: transform 0.5s ease;

                .servicesImage {
                    padding: 20px;
                    background: #FFFFFF;
                    box-shadow: 5px 8px 20px rgba(167, 187, 210, 0.3);
                    border-radius: 20px;
                    height: 280px;
                    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
                    transform: scale(1);

                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 8px 12px 30px rgba(167, 187, 210, 0.5);
                        border: 2px solid #FF7F3E;

                        .title {
                            color: #FF7F3E;
                            transition: color 0.2s ease;
                        }

                        p {
                            color: #73858F;
                            transition: color 0.2s ease;
                        }
                    }
                }


            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 20px;

            .servicesItem {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 20px;
                border-radius: 20px;

                .servicesImage {
                    height: 320px;
                    border-radius: 20px;
                    padding: 30px 25px;

                    .title {
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 15px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 35px;
                        font-size: 14px;
                        line-height: 24px;
                        left: 20px;
                        bottom: 20px;
                    }
                }
            }

            &.landingService {
                .servicesItem {
                    flex: 0 0 calc(25% - 10px);

                    .servicesImage {
                        padding: 20px;
                        height: 280px;
                    }


                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                }
            }

        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 20px;

            .servicesItem {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 20px;
                border-radius: 20px;

                .servicesImage {
                    height: 320px;
                    border-radius: 20px;
                    padding: 25px 25px;

                    .title {
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 21px;
                        margin-bottom: 10px;
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 35px;
                        font-size: 14px;
                        line-height: 24px;
                        left: 20px;
                        bottom: 20px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                }
            }

            &.landingService {
                .servicesItem {
                    flex: 0 0 calc(25% - 10px);

                    .servicesImage {
                        padding: 20px;
                        height: 280px;
                    }


                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 20px;

            .servicesItem {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 20px;
                border-radius: 20px;

                .servicesImage {
                    height: 320px;
                    border-radius: 20px;
                    padding: 20px 20px;

                    .title {
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 21px;
                        margin-bottom: 10px;
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 35px;
                        font-size: 14px;
                        line-height: 24px;
                        left: 20px;
                        bottom: 20px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                }
            }

            &.landingService {
                .servicesItem {
                    flex: 0 0 calc(25% - 10px);



                    .servicesImage {
                        padding: 20px;
                        height: 280px;

                        .title {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 20px;

            .servicesItem {
                flex: 0 0 calc(33.33% - 10px);
                margin-bottom: 20px;
                border-radius: 15px;

                .servicesImage {
                    height: 330px;
                    border-radius: 15px;
                    padding: 20px 20px;

                    .title {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        height: 160px;

                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 30px;
                        font-size: 13px;
                        line-height: 23px;
                        left: 15px;
                        bottom: 15px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                }
            }

            &.landingService {
                .servicesItem {
                    flex: 0 0 calc(25% - 10px);

                    .servicesImage {
                        padding: 20px;
                        height: 260px;

                        .title {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        &:hover {
                            border: 1px solid #FF7F3E;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 10px;

            .servicesItem {
                flex: 0 0 calc(50% - 5px);
                margin-bottom: 10px;
                border-radius: 15px;

                .servicesImage {
                    height: 280px;
                    border-radius: 15px;
                    padding: 20px 20px;

                    .title {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        height: 140px;
                        overflow: auto;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 30px;
                        font-size: 13px;
                        line-height: 23px;
                        left: 15px;
                        bottom: 15px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 5px);
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                }
            }

            &.landingService {
                justify-content: center;
                gap: 10px;

                .servicesItem {
                    flex: 0 0 calc(33.33% - 10px);
                    margin-bottom: 0px;

                    .servicesImage {
                        padding: 20px;
                        height: 260px;

                        .title {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        &:hover {
                            border: 1px solid #FF7F3E;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 10px;

            .servicesItem {
                flex: 0 0 calc(50% - 5px);
                margin-bottom: 10px;
                border-radius: 15px;

                .servicesImage {
                    height: 300px;
                    border-radius: 15px;
                    padding: 20px 20px;

                    .title {
                        font-size: 17px;
                        line-height: 23px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        height: 160px;
                        overflow: auto;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 30px;
                        font-size: 13px;
                        line-height: 23px;
                        left: 15px;
                        bottom: 15px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(50% - 5px);
                }
            }

            &.landingService {
                justify-content: center;
                gap: 10px;

                .servicesItem {
                    flex: 0 0 calc(50% - 10px);
                    margin-bottom: 0px;

                    .servicesImage {
                        padding: 20px;
                        height: 260px;

                        .title {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        &:hover {
                            border: 1px solid #FF7F3E;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .serviceSection {
        .servicesContainer {
            margin-top: 10px;

            .servicesItem {
                flex: 0 0 calc(100% - 0px);
                margin-bottom: 10px;
                border-radius: 15px;

                .servicesImage {
                    height: 320px;
                    border-radius: 15px;
                    padding: 20px 20px;

                    .title {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 10px;
                        height: 180px;
                        overflow: auto;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }
                    }

                    .readMore {
                        padding: 0px 20px;
                        height: 30px;
                        font-size: 13px;
                        line-height: 23px;
                        left: 15px;
                        bottom: 15px;
                    }
                }
            }

            &.serviceOffer {
                .servicesItem {
                    flex: 0 0 calc(100% - 0px);
                }
            }

            &.landingService {
                justify-content: center;
                gap: 0px;

                .servicesItem {
                    flex: 0 0 calc(100% - 0px);
                    margin-bottom: 20px;

                    .servicesImage {
                        padding: 20px;
                        height: auto;

                        .title {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        &:hover {
                            border: 1px solid #FF7F3E;
                        }
                    }


                }
            }
        }
    }
}