.serviceContentBox {
    .txtContainer {
        height: 590px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 50px;
        border-radius: 50px;
        margin-bottom: 25px;

        &.itemColum {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;

            &::after {
                content: '';
                background: linear-gradient(270deg, rgba(57, 57, 57, 0) 7.81%, #393939 100%);
                border-radius: 50px;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 0;
            }

            .txtContent {
                position: relative;
                z-index: 1;
                max-width: 50%;

                h4,
                p {
                    color: #fff;
                }
            }

        }
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .serviceContentBox {
        .txtContainer {
            height: 500px;
            padding: 40px;
            border-radius: 40px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                &::after {
                    border-radius: 40px;
                }
            }
        }

    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .serviceContentBox {
        .txtContainer {
            height: 480px;
            padding: 30px;
            border-radius: 30px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                &::after {
                    border-radius: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .serviceContentBox {
        .txtContainer {
            height: 450px;
            padding: 25px;
            border-radius: 30px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                &::after {
                    border-radius: 30px;
                }
            }
        }

    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .serviceContentBox {
        .txtContainer {
            height: 400px;
            padding: 25px;
            border-radius: 30px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                &::after {
                    border-radius: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .serviceContentBox {
        .txtContainer {
            height: 400px;
            padding: 20px;
            border-radius: 30px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                &::after {
                    border-radius: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .serviceContentBox {
        .txtContainer {
            height: 360px;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                .txtContent {
                    max-width: 70%;
                }

                &::after {
                    border-radius: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .serviceContentBox {
        .txtContainer {
            height: 320px;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;

            &.itemColum {
                position: relative;

                .txtContent {
                    max-width: 100%;
                }

                &::after {
                    border-radius: 20px;
                }
            }
        }
    }
}