.thanksSection {
  height: calc(100vh - 250px);
  text-align: center;

  .bannerContentBox {
    h1 {
      color: #000;
    }

    .thanksBtn{
        a {
            height: 60px;
            background: #FF7F3E;
            border-radius: 100px;
            padding: 0px 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.165px;
            color: #fff;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.3s ease;
            border: 2px solid #FF7F3E;
    
           svg{
            height: 16px;
            width: auto;
            margin-left: 10px;
            path{
                stroke: #fff;
            }
           }
    
            &:hover {
                background: transparent;
                transition: background 0.3s ease, transform 0.3s ease;
                color: #FF7F3E;
                border: 2px solid #FF7F3E;
                svg{
                    height: 20px;
                    width: auto;
                    margin-left: 10px;
                    path{
                        stroke: #FF7F3E;
                    }
                   }
            }
        }
    }
  }

  p {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .thanksSection {
    height: 100%;
    padding-top: 130px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .thanksSection {
    height: 100%;
    padding-top: 130px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .thanksSection {
    height: 100%;
    padding-top: 130px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .thanksSection {
    height: 100%;
    padding-top: 130px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .thanksSection {
    height: 100%;
    padding-top: 100px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .thanksSection {
    height: 100%;
    padding-top: 100px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .thanksSection {
    height: 100%;
    padding-top: 100px;
    text-align: center;

    .bannerContentBox {
      svg {
        height: 15px;
        margin-left: 10px;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }
}
